[submodule "Libraries/TBMacros"]
	path = Libraries/TBMacros
	url = git://github.com/twobitlabs/TBMacros.git
[submodule "Libraries/AnalyticsKit"]
	path = Libraries/AnalyticsKit
	url = git://github.com/twobitlabs/AnalyticsKit.git
[submodule "Libraries/MagicalRecord"]
	path = Libraries/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Libraries/OCMock"]
	path = Libraries/OCMock
	url = git://github.com/twobitlabs/ocmock.git
[submodule "Libraries/TestFlightSDK"]
	path = Libraries/TestFlightSDK
	url = https://github.com/twobitlabs/TestFlight-SDK.git
